<h1 class="center">{{title}}</h1>

<div class="container">
  <form [formGroup]="form" novalidate>
    <input formControlName="searchField" placeholder="Enter Movie name,Category etc">
    <br />
    <label>Please Select a Category</label>
    <select formControlName="categoryField">
      <option *ngFor="let category of categories" [value]="category">
        {{category}}
      </option>
    </select>
  </form>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Duration</th>
        <th scope="col">Age Limit</th>
        <th scope="col">Categories</th>
        <th scope="col">MovieFormat</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let repertoire of (repertoire$ | async)">
        <th scope="row">{{repertoire.id}}</th>
        <td>{{repertoire.title}}</td>
        <td>{{repertoire.duration}}</td>
        <td>{{repertoire.ageLimit}}</td>
        <td>{{repertoire.categories}}</td>
        <td>
          <ul>
            <li *ngFor="let showing of repertoire.showings">
              {{showing.movieFormat}}
              <ol>
                <li *ngFor="let date of showing.showingDates">
                  {{date.date |  amDateFormat:'LL'}}
                </li>
              </ol>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <span>{{movieFormat}}</span>
</div>